@model CoreMVCLibraryProject.Models.Entities.Islem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Islem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ogrenci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ogrenci.OgrNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kitap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kitap.KitapNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ATarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ATarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VTarih)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IslemNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
