@model IEnumerable<Kitap>

@{
    ViewData["Title"] = "Index";
}

<h1>Kitap Modülü</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Yeni Kitap Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                Kitap Adı
            </th>
     
            <th>
               Türü
            </th>
            <th>
                Yazarı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @item.KitapAdi
            </td>
          
            <td>
                @item.Tur.TurAdi
            </td>
            <td>
                @item.Yazar.YazarAd
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KitapNo" class="btn btn-success">Güncelle</a>  
                <a asp-action="Details" asp-route-id="@item.KitapNo" class="btn btn-warning">Detay</a>  
                <a asp-action="Delete" asp-route-id="@item.KitapNo" class="btn btn-danger">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
